//subscribe-area
.subscribe-area {
	margin-bottom: -225px;
	z-index: 1;
	& .sub-bg {
		padding: 80px 50px 0 80px;
		@media #{$xs} {
			padding: 80px 0px 0 0px;
		}
		@media #{$sm} {
			padding: 80px 0px 0 0px;
		}
	}
}

.form-area {
	input:focus {
		box-shadow: none;
		outline:none;
		border: none;
	}
	::placeholder {
		color: $body-text-color2;
	}
	::-moz-placeholder {
		color: $body-text-color2;
	}
	::-ms-placeholder {
		color: $body-text-color2;
	}
	::-webkit-placeholder {
		color: $body-text-color2;
	}
	& .form-control {
		background: $white;
		font-size: 18px;
		line-height: 1;
		max-width: 450px;
		height: 70px;
		border: 0;
		font-family: $cerebri-semi;
		padding: 10px 25px;
		border-radius: 0;
		border-left:3px solid $theme-color;
		@media #{$md} {
			max-width: 100%;
		}
		@media #{$xs} {
			max-width: 100%;
		}
		@media #{$sm} {
			max-width: 100%;
		}
	}
	& textarea {
		overflow: auto;
		resize: none;
		background-color: rgb(255, 255, 255);
		border: 0;
		width: 450px;
		height: 145px;
		font-size: 18px;
		line-height: 1;
		font-family: $cerebri-semi;
		padding:30px 27px;
		border-left:3px solid $theme-color;
		@media #{$lg} {
			width: 388px;
		}
		@media #{$md} {
			width: 100%;
		}
		@media #{$xs} {
			max-width: 100%;
			width: 100%;
		}
		@media #{$sm} {
			max-width: 100%;
			width: 100%;
		}
	}
	& .contact-name, & .contact-mail{
		& span {
			position: absolute;
			right: 75px;
			top: 50%;
			transform: translateY(-50%);
			@media #{$xs} {
				right: 20px;
			}
			@media #{$sm} {
				right: 20px;
			}
		}
	} 
	 & .contact-message {
		& span {
			position: absolute;
			right: 75px;
			top: 24%;
			transform: translateY(-24%);
			@media #{$xs} {
				right: 20px;
			}
			@media #{$sm} {
				right: 20px;
			}
		}
	} 
}
.contact__img {
	&::before {
		content: "";
		position: absolute;
		right: -50px;
		top: 0;
		top: -80px;
		clip-path: polygon(41% 0, 100% 0, 100% 100%, 0% 100%);
		background: #6a961f;
		width: 100%;
		height: 680px;
		z-index: 1;
		@media #{$lg} {
			height: 633px;
		}
		@media #{$md} {
			top:0;
			height: 600px;
		}
		@media #{$xs} {
			display: none;
		}
		@media #{$sm} {
			display: none;
		}
	}
	&-women {
		z-index: 3;
		@media #{$lg} {
			max-width: 100%;
		}
		@media #{$xs} {
			max-width: 100%;
		}
		@media #{$sm} {
			max-width: 100%;
		}
	}
	&-back {
		right: -50px;
		top: 0;
		z-index: 1;
		animation: float-bob-y infinite 4s alternate;
	}
}
.subscribe-wrapper {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		background: url(/assets/img/icon/leaf24.png);
		width: 109px;
		min-height: 233px;
		left: -35px;
		top: -36px;
		animation: float-bob-x infinite 8s alternate;
	}
}
//news-letter-area
.news-letter-area {
	min-height: 510px;
	width: 100%;
	&::before {
		content: "";
		background: rgba(13, 60, 0,0.851);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 546px;
	}
	& .section-title {
		& a {
			color: $white;
			margin: 0 5px 10px 5px;
			
		}
	}
}
//form-area-02
.form-area-02 {
	border: 1px solid $hr-border-color;
	& .form-control {
		background: #f4f5f0;
		border: 0;
		width: 78%;
		margin: 0 auto;
		color: $green;
		@media #{$md} {
			width:100%;
		}
		@media #{$xs} {
			width:100%;
		}
		@media #{$sm} {
			width:100%;
		}
	}
	& textarea {
		position: relative;
		background: $grey;
		border:0;
		width:78%;
		margin: 0 auto;
		padding: 21px;
		@media #{$md} {
			width:100%;
		}
		@media #{$xs} {
			width:100%;
		}
		@media #{$sm} {
			width:100%;
		}
	}
	& ::placeholder {
		color:$green;
	}
	& ::-moz-placeholder {
		color:$green;
	}
	& ::-webkit-placeholder {
		color:$green;
	}

	& .message-2 {
		& span {
			position: absolute;
			right: 71px;
			top: 21px !important;
			@media #{$xs} {
				right: 20px !important;
				
			}
			@media #{$sm} {
				right: 20px !important;
			}
		}
	} 
}
 .contact-mail,  .contact-name {
	& span {
		position: absolute;
		right: 70px;
		top: 26%;
		color:$green;
	}
}    
.message-2 span {
	position: absolute;
	right: 73px;
	top: 17px;
	color: $green;
}

//newsletter-two
.newsletter-two {
	min-height: 503px;
	@media #{$xs} {
		min-height: 400px;
	}
	@media #{$sm} {
		min-height: 400px;
	}
	&::before {
		@media #{$xs} {
			min-height: 421px;
		}
		@media #{$sm} {
			min-height: 421px;
		}
	}
	& .section-title-white {
		@media #{$xs} {
			padding-top: 80px;
		}
		@media #{$sm} {
			padding-top: 80px;
		}
		& .border_btn {
			background: none;
			color: $white;
			border: 2px solid $white;
			&:hover {
				background: $theme-color;
				border: 2px solid transparent;
			}
		}
	}
}
.coments-form {
	padding:50px;
	@media #{$xs} {
		padding: 30px 10px;
	}
	@media #{$sm} {
		padding: 30px 10px;
	}
	& .form-control {
		max-width: 100%;
		border:0;
	}
	& textarea {
		width: 667px;
		height: 120px;
		border: 0;
		padding: 0;
		padding: 23px 0 0 28px;
		@media #{$lg} {
			width:100%
		}
		@media #{$md} {
			width:100%
		}
		@media #{$xs} {
			width:100%
		}
		@media #{$sm} {
			width:100%
		}
	}
	& .contact-name3 {
		& span {
			right: 33px;
		}
	}
	& .contact-mail3 {
		& span {
			right: 33px;
		}
	}
	& .contact-message3 {
		& span {
			right: 33px;
		}
	}

}
.cta-area {
	&.contact-left-img {
		left: 0;
		top: 0;
		width: 35%;
		height: 100%;
	}
}
.form-area-03 {
	@media #{$lg} {
		padding-right: 0;
	}
	@media #{$xs} {
		padding-right: 0;
	}
	@media #{$sm} {
		padding-right: 0;
	}
	& .form-control {
		background: $white;
		border: 0;
		max-width: 100%;
	}
	& .contact-name4 {
		& span {
			position: absolute;
			right: 53px;
			top: 50%;
			transform: translateY(-50%);
		}
	} 
	& .contact-mail3 {
		& span {
			position: absolute;
			right: 53px;
			top: 50%;
			transform: translateY(-50%);
		}
	} 
	& .contact-subject4 {
		& span {
			position: absolute;
			right: 50px;
			top: 20px;
		}
	}
	& .contact-message4 {
		& textarea {
			width: 100%;
			height: 230px;
			border: 0;
			padding: 0;
			padding: 23px 0 0 28px;
		}
		& span {
			position: absolute;
			right: 47px;
			top: 15%;
		} 
	}
	& .contact-name4 , & .contact-mail3, & .contact-message4, & .contact-subject4  {
		& span {
			@media #{$xs} {
				right: 20px;
			}
			@media #{$sm} {
				right: 20px;
			}
		}
	}
} 
.contact {
	position: relative;
	@include transition(.4s);
		&:hover {
			transform: translateY(-5px);
		}
	& h3 {
		font-size: 29px;
		line-height: 28px;
		font-family: $cerebri-bold;
	}
	& a {
		color:#474747;
		font-size: 18px;
		line-height: 28px;
		font-family: $futurabook;
		& i {
			color:$theme-color;
			font-size: 18px;
		}
	}
	& span {
		font-size: 110px;
		opacity: 0.1;
		position: absolute;
		left: 0;
		top: -61px;
	}
} 
#contact-map {
	min-height: 750px;
	width: 100%;
	@media #{$xs} {
		min-height: 400px;
	}
	@media #{$sm} {
		min-height: 400px;
	}
}